body {
    width: 550px;
    height: 520px;
    font-family: 'Rubik';
    color: #666666;
    background-color: #FFACCB;
    /* margin: 5px 30px; */
    margin: 0;
    padding: 0;
}


button{
    font-family: 'Rubik';
}

input{
    font-family: 'Rubik';
}

.bg {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #C8B9F2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerText{
    color: white;
    font-size: 16;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petBox {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 20px; */
}

.actionBox {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}


.bigActionButton {
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    /* background-color: #FF6499; */
    border-radius: 30px;
    border: 0px;
    margin: 5px 5px;
    width: 185px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.bigActionButtonDisabled {
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #DBDBDB;
    border-radius: 30px;
    border: 0px;
    /* margin-top: 20px; */
    margin: 5px 5px;
    width: 185px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

/* .bigActionButton:hover{
    background-color: #ED4880;
} */

.actionButton {
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    /* background-color: #FF6499; */
    border-radius: 30px;
    border: 0px;
    /* margin-top: 20px; */
    margin: 5px 5px;
    width: 55px;
    cursor: pointer;
}

.actionButtonDisabled {
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #DBDBDB;
    border-radius: 30px;
    border: 0px;
    /* margin-top: 20px; */
    margin: 5px 5px;
    width: 55px;
    cursor: pointer;
}

/* .actionButton:hover{
    background-color: #ED4880;
} */

.statsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 56%;
    padding: 0px;
}

.leaderboardBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    /* padding: 5px 0px; */
}

.statusItemTitle {
    display: flex;
    flex-direction: row;
    width: 30%;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    align-items: center;
    /* background-color: red; */

}

.statusItemValue {
    line-height: 24px;
    width: 70%;
    font-size: 14px;
    color: #666666;
    align-items: center;

}

.spaceNameHeader {
    width: 50%;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
}

.spaceLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spaceName {
    line-height: 24px;
    width: 60%;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 14px;
    /* color: #333333; */
    /* background-color: #FFE0EB; */
    border-radius: 10px;
}

.leaderboardHeader {
    width: 100%;
    /* line-height: 24px; */
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}

.leaderboardItemTitle {
    width: 60%;
    /* line-height: 24px; */
    font-size: 14px;
    color: #666666;
}

.leaderboardItemValue {
    /* line-height: 24px; */
    width: 25%;
    font-size: 14px;
    color: #666666;
    margin-left: 5px;
}

.fetchBtn {
    background-color: #FB60C4;
    cursor: pointer;
    border: 0ch;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    padding: 0;
    margin-top: 20px;
}

.fetchBtn:hover {
    background-color: #eb3472;
}

.state {
    font-size: 16px;
    font-weight: bold;
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: 15px; */
    /* margin: 20px 0px; */
}

.petPickDiv {
    background-color: white;
    flex-direction: row;
    display: flex;
    /* flex: 1; */
    /* padding: 0px 30px;
    padding-bottom: 20px; */
    /* margin-top: 0px; */
}

.petSelectBtn {
    background-color: transparent;
    color: #FB60C4;
    height: '100%';
    width: 100px;
    border: 0px;
    font-size: 30px;
    cursor: pointer;
}

.petSelectBtn:hover {
    background-color: #FAFAFA;
}

.topDiv {
    background-color: #FFACCB;
    padding: 0px 30px;
    padding-bottom: 10px;
    /* margin-top: 0px; */
}

.bottomDiv {
    background-color: #FF9ABD;
    padding: 5px 30px;
    padding-top: 20px;
}

.activityLine {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    /* height: 16px; */
}

.faqLine {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
}

.leaveBtn2 {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    /* float: right; */
    background-color: transparent;
    /* margin-bottom: 20px; */
    line-height: 24px;
}

.leaveBtn2:hover {
    color: #FB60C4;
}

.formDiv {
    width: 70%;
}

.formField {
    line-height: 60px;
    font-size: 20px;
    padding: 0px 4%;
    color: #333333;
    border-radius: 30px;
    border: 0px;
    /* margin-top: 20px; */
    width: 92%;
}

.formBtn {
    height: 60px;
    font-size: 20px;
    color: white;
    background-color: #FB60C4;
    border-radius: 30px;
    border: 0px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

.formBtn:hover {
    background-color: #eb3472;
}

.formPrompt {
    color: #666666;
    font-size: 22px;
    margin: 20px 40px;
}

.secondaryBtn {
    height: 60px;
    font-size: 20px;
    color: #666666;
    background-color: #FAFAFA;
    border-radius: 30px;
    border: 0px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

.secondaryBtn:hover {
    /* background-color: #00D4FF; */
    background-color: #F4F4F4;
}


/* Loader */

.loader-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin-top: 220px;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #FF6499;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #FF6499;
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}


.handCursor {
    cursor: url("https://storage.googleapis.com/office-pets/petHand.png"), auto;
}

.handCursor:active {
    cursor: url("https://storage.googleapis.com/office-pets/petHandBig.png"), auto;
}

#slot1 {
    position: absolute;
    top: 31px;
    left: 8px;
    height: 120px;
    width: 120px;
    background-size: 120px 120px;
}

#slot2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 120px;
    background-size: 120px 120px;
}

#slot3 {
    position: absolute;
    top: 120px;
    left: -50px;
    height: 120px;
    width: 120px;
    background-size: 120px 120px;
}

#slot4 {
    position: absolute;
    top: 100px;
    left: 15px;
    height: 120px;
    width: 120px;
    background-size: 120px 120px;
}

#slot5 {
    position: absolute;
    top: 85px;
    left: 34px;
    height: 120px;
    width: 120px;
    background-size: 120px 120px;
}

#poopImg {
    position: absolute;
    top: 180px;
    left: 360px;
    cursor: url("https://storage.googleapis.com/office-pets/wasteBag.png") 30 15, auto;
    display: none;
}

#goodie_bag {
    /* position: absolute;
    top: 250px;
    left: 0px; */
    height: 33px;
    width: 24px;
    /* background-image: url("goodie_bag.png"); */
    background-size: 24px 33px;
    /* transform: rotate(90deg); */
}

#goodie_bag_item {
    height: 50px; 
    width: 50px; 
    border-radius: 15px; 
    margin-right: 5px; 
    cursor: pointer; 
    background-size: 50px 50px;
}

.tooltip {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    justify-content: left;
    /* width: 100%; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 118px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* left: 100px; */
    bottom: 140%;
    left: 0px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
  }

  .flash {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: normal fadeOut forwards ease 1s;
    /* -webkit-animation: fadeOut ease 8s; */
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
      display: none;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }