body {
  height: 550px;
  width: 520px;
  font-family: "Rubik";
  color: #666666;
  background-color: #ffaccb;
  /* margin: 5px 30px; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 50px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  background-color: #c77895;
  color: white;
}

.headerDiv i {
  margin-left: auto;
  margin-right: 10px;
}

.headerDiv i:hover {
  cursor: pointer;
}

.name {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  justify-content: none;
}

#mpm-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 70%;
  width: 100%;
}

.mpm {
  position: absolute;
}

#body {
  margin: auto;
  top: 50px;
  height: 250px;
  width: 150px;
}

#hat {
  top: 0px;
  left: 210px;
  height: 100px;
  width: 100px;
}

#left-arm {
  top: 100px;
  left: 100px;
  height: 100px;
  width: 100px;
}

#right-arm {
  top: 100px;
  right: 100px;
  height: 100px;
  width: 100px;
}

#left-foot {
  top: 275px;
  left: 150px;
  height: 100px;
  width: 100px;
}

#right-foot {
  top: 275px;
  right: 150px;
  height: 100px;
  width: 100px;
}

.face-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0px 20px;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.face-row > div {
  margin: 5px;
}

.face-row > div > button {
  background-color: #b87a91;
  padding: 10px;
  color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  border: none;
}

.face-row > div > button:hover {
  cursor: pointer;
  background-color: #936173;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

button:hover {
  cursor: pointer;
}
